DATABASE_URL=
DATABASE_URL_UNPOOLED=
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=

# Configurações de Email (Nodemailer)
SMTP_USER=
SMTP_PASS=

# Configurações do Ollama (Local AI)
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=llama3

# --- SECURITY ---
# Senha para acessar o painel de administração (Dashboard)
ADMIN_PASSWORD=ADmin@0922#ccd

# Chave secreta para assinar os tokens JWT (Gere uma string aleatória)
JWT_SECRET=uma_chave_secreta_muito_longa_e_aleatoria
